* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.26em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: #666; }

.margin-small {
  margin-top: 2rem; }

.margin-extra-small {
  margin-top: 1rem; }

.margin-bottom {
  margin-bottom: 7rem; }

.logo-vodafone {
  height: 3.5rem; }

.logo-prezzogiusto {
  height: 3.1rem; }

.background {
  padding-top: 2%;
  background-image: url("../img/bg-desk.jpeg");
  background-size: cover;
  margin-top: 1.5rem;
  width: 100%;
  height: 65vh; }
  @media only screen and (max-width: 100em) {
    .background {
      background-image: url("../img/bg-mobile.jpeg"); } }

.header__box {
  color: white;
  padding-left: 5rem; }
  .header__box__scritta1 {
    font-size: 2.5rem;
    text-transform: uppercase; }
    .header__box__scritta1__sub {
      margin-top: -1.5rem;
      font-size: 3rem;
      font-weight: 800; }
  .header__box__scritta2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: white;
    text-transform: none; }
    .header__box__scritta2__p {
      margin-top: -2rem; }

.fibra {
  height: 3rem; }

ul {
  text-transform: uppercase;
  list-style: none;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  font-weight: 700; }

li {
  margin-bottom: 0.8rem; }

.checkbox {
  font-size: 1rem; }

.offerta-soggetta {
  text-align: center;
  background-color: #f1ece8;
  margin-top: -3rem; }
  .offerta-soggetta__testo {
    font-size: 1.4rem;
    color: #666;
    padding: 0.5rem; }
  .offerta-soggetta__icona {
    height: 1.5rem; }

.dettagli {
  padding-top: 1.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2; }
  .dettagli__over {
    color: #666;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem; }

.card {
  box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  width: 29%;
  height: 26rem;
  padding: 2%; }
  @media only screen and (max-width: 100em) {
    .card {
      width: 50rem;
      height: auto;
      margin-top: 2rem;
      border-radius: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start; } }
  .card__icone {
    width: 8rem;
    padding: 5%; }
  .card__titolo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800; }
  .card__testo {
    font-size: 1.7rem; }

.aiuto {
  padding: 2%;
  margin-top: 2rem;
  height: auto;
  width: 100%;
  background-color: #3f0205;
  color: white; }
  .aiuto__titolo, .aiuto__over {
    font-size: 2.08rem;
    font-weight: 800; }

#checkbox2 {
  color: #ffffff;
  text-align: left;
  margin-left: 5px;
  font-size: 1.5rem; }

.footer {
  padding: 1.3%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #666; }

.border {
  box-sizing: border-box;
  background-color: white; }

@media only screen and (max-width: 100em) {
  .mediaquery1 {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 100em) {
  .mediaquery {
    text-align: center; } }

@media only screen and (max-width: 100em) {
  .mediaquery2 {
    display: flex;
    flex-direction: column; } }

.numero {
  height: 4.8rem !important;
  text-align: center;
  font-size: 1.8rem !important;
  border-radius: 6px !important; }

.button {
  height: 4.8rem !important;
  color: white !important;
  font-size: 1.8rem !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  margin-left: -1.5rem; }

.button-numero {
  background-color: #428600 !important;
  border-color: #428600 !important; }

.button-numero2 {
  background-color: #fdca2e !important;
  border-color: #fdca2e !important; }
