* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.26em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 1.6rem; }

.margin-small {
  margin-top: 2rem; }

.margin-bottom {
  margin-bottom: 7rem; }

.logo-vodafone {
  height: 3.5rem; }

.logo-prezzogiusto {
  height: 3.5rem; }

.background {
  padding-top: 2%;
  padding-left: 15%;
  background-image: url("../img/bg-desk.jpeg");
  margin-top: 1.5rem;
  width: 100%;
  height: 57vh; }
  @media only screen and (max-width: 100em) {
    .background {
      background-image: url("../img/bg-mobile.jpeg"); } }

.header__box {
  color: white;
  padding-left: 5rem; }
  .header__box__scritta1 {
    font-size: 2.5rem;
    text-transform: uppercase; }
    .header__box__scritta1__sub {
      margin-top: -1.5rem;
      font-size: 3rem;
      font-weight: 800; }
  .header__box__scritta2 {
    margin-top: 2rem;
    font-size: 2.2rem;
    color: white;
    text-transform: none; }
    .header__box__scritta2__p {
      margin-top: -2rem; }

.fibra {
  height: 3rem; }

ul {
  text-transform: uppercase;
  list-style: none;
  font-size: 1.5rem;
  margin-top: 0.8rem;
  font-weight: 800; }

li {
  margin-bottom: 0.8rem; }

.checkbox {
  font-size: 1.1rem;
  text-transform: none; }

.offerta-soggetta {
  text-align: center;
  background-color: #f1ece8; }
  .offerta-soggetta__testo {
    font-size: 2rem;
    color: #666;
    padding: 0.5rem; }
  .offerta-soggetta__icona {
    height: 1.5rem; }

.dettagli {
  padding-top: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
  color: #3c3c3c; }
  .dettagli__over {
    color: #666;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 4rem; }

.card {
  border-radius: 15%;
  width: 30rem;
  height: 32rem;
  margin-right: 1rem;
  padding: 2%; }
  @media only screen and (max-width: 100em) {
    .card {
      width: 50rem;
      height: auto;
      margin-top: 2rem;
      border-radius: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start; } }
  .card__icone {
    width: 10rem;
    padding: 5%; }
  .card__titolo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800; }
  .card__testo {
    font-size: 2rem; }

.aiuto {
  padding: 2%;
  margin-top: 5rem;
  height: auto;
  width: 100%;
  background-color: #3f0205;
  color: white; }
  .aiuto__titolo {
    font-size: 3rem;
    font-weight: 700; }
  .aiuto__over {
    font-size: 3rem;
    font-weight: 700; }

#checkbox2 {
  color: #ffffff;
  text-align: left;
  margin-left: 5px;
  font-size: 1.5rem; }

.footer {
  padding: 2%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666; }

@media only screen and (max-width: 100em) {
  .mediaquery1 {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 100em) {
  .mediaquery {
    text-align: center; } }

@media only screen and (max-width: 100em) {
  .mediaquery2 {
    display: flex;
    flex-direction: column; } }

.numero {
  height: 4rem !important;
  text-align: center;
  font-size: 2rem !important; }

.button-numero {
  height: 4rem !important;
  background-color: #428600 !important;
  border-color: #428600 !important;
  color: white !important;
  font-size: 1.5rem !important; }

.numero2 {
  text-align: center;
  font-size: 2.5rem !important;
  width: 10px; }

.button-numero2 {
  width: 80%;
  background-color: #fdca2e !important;
  border-color: #fdca2e !important;
  color: white !important;
  font-size: 2.5rem !important; }
