.numero {
  height: 4.8rem !important;
  text-align: center;
  font-size: 1.8rem !important;
  border-radius: 6px !important;
}

.button {
  height: 4.8rem !important;
  color: white !important;
  font-size: 1.8rem !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  margin-left: -1.5rem;
}

.button-numero {
  background-color: #428600 !important;
  border-color: #428600 !important;
}

.button-numero2 {
  background-color: #fdca2e !important;
  border-color: #fdca2e !important;
}
