.form {
  gap: 3rem;
  font-size: 1.5rem;
  @media only screen and (max-width: 56.25em) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 270px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
  }
  &__button {
    width: 270px;
    height: 50px;
    border-radius: 10px;
    background-color: #428600;
    border: 1px solid #428600;
    color: white;
  }
  &__check {
    text-align: left;
    @media only screen and (max-width: 56.25em) {
      text-align: center;
      font-size: 1rem;
    }
  }
}

.button-numero2 {
  background-color: #fdca2e;
  border-color: #fdca2e;
}
