.numero{
height: 4rem !important;
text-align: center;
font-size: 2rem !important;
}

.button-numero{
    height: 4rem !important;
    background-color: #428600 !important;
    border-color: #428600 !important;
    color: white !important;
    font-size: 1.5rem !important;
    
}

.numero2{
  
    text-align: center;
    font-size: 2.5rem !important;
    width: 10px;
    }
    
    .button-numero2{
        width: 80%;
      
        background-color: #fdca2e !important;
        border-color: #fdca2e !important;
        color: white !important;
        font-size: 2.5rem !important;
    }