.logo-vodafone {
  height: 3.5rem;
}

.logo-prezzogiusto {
  height: 3.1rem;
}

.background {
  background-image: url("../img/bg-desk.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;

  @media only screen and (max-width: 56.25em) {
    //mediaquery sfondo bg
    background-image: url("../img/bg-mobile.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }
}

.boxHead {
  color: white;
  padding: 3rem;
  width: 600px;
  @media only screen and (max-width: 56.25em) {
    width: 325px;
  }
  &__title {
    font-size: 3rem;
    font-weight: 400;
  }
  &__subtitle {
    font-size: 3.8rem; 
    text-transform: uppercase;
    font-weight: 700;
  }
  &__span { 
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}

.fibra {
  height: 3rem;
}
ul {
  text-transform: uppercase;
  list-style: none;
  font-size: 2rem;
  margin-top: 0.8rem;
  font-weight: 700;
}
li {
  margin-bottom: 0.8rem;
}

.checkbox {
  font-size: 0.9rem;
  margin-left: 5px;
  @media only screen and (max-width: 100em) {
    font-size: 1.3rem;
  }
}


.offerta-soggetta {
  text-align: center;
  background-color: #f1ece8;
  margin-top: -3rem;

  &__testo {
    font-size: 1.4rem;
    color: #666;
    padding: 0.8rem;
    @media only screen and (max-width: 100em) {
      font-size: 1.9rem;
    }
  }
  &__icona {
    height: 1.5rem;
    @media only screen and (max-width: 100em) {
      height: 2rem;
    }
  }
}

.dettagli {
  padding-top: 1.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.2;
  color: #3c3c3c;
  @media only screen and (max-width: 100em) {
    font-size: 3.4rem;
  }
  &__over {
    color: #666;
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
    @media only screen and (max-width: 100em) {
      font-size: 2.3rem;
    }
  }
}

.cards {
  @media only screen and (max-width: 56.26em) {
    //mediaquery cards
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }
  box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.18);
  border-radius: 5%;
  width: 29%;
  height: 26rem;
  padding: 2%;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;

  &__icone {
    width: 8rem;
    padding: 5%;
  }

  &__titolo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
  }
  &__testo {
    font-size: 1.7rem;
  }
}

.aiuto {
  padding: 2%;
  margin-top: 2rem;
  height: auto;
  width: 100%;
  background-color: #3f0205;
  color: white;
  @media only screen and (max-width: 56.26em) {
    padding: 7%;
  }

  &__titolo,
  &__over {
    font-size: 2.08rem;
    font-weight: 800;
    @media only screen and (max-width: 80em) {
      font-size: 3rem;
    }
  }
}
#checkbox2 {
  color: #ffffff;
  text-align: left;
  margin-left: 5px;
  font-size: 1.5rem;
}

.footer {
  padding: 1.3%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #666;
  @media only screen and (max-width: 37.5em) {
    font-size: 1.6rem;
  }
}

.border {
  box-sizing: border-box;
  background-color: white;
}

//MEDIAQUERY

.mediaqueryTextCenter {
  @media only screen and (max-width: 56.26em) {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.mediaqueryConvertColumn {
  @media only screen and (max-width: 56.26em) {
    display: flex;
    flex-direction: column;
  }
}

.querycards__icone {
  @media only screen and (max-width: 100em) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
  }
}
.querycards__align {
  @media only screen and (max-width: 100em) {
    text-align: left;
    font-size: 2rem;
  }
}

.order__input {
  @media only screen and (max-width: 75em) {
    order: 1;
  }
}

.order__button {
  @media only screen and (max-width: 75em) {
    order: 3;
  }
}

.order__span {
  @media only screen and (max-width: 75em) {
    order: 2;
    padding: 1%;
  }
}

.pro {
  align-self: center;
}

.linkPrivacy {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

/*  css form prova box in riga
.aiuto2 {
  padding: 2%;
  margin: 2rem auto;
  height: auto;
  width: 60%;
  background-color: #3f0205;
  color: white;
  @media only screen and (max-width: 56.26em) {
    padding: 7%;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

  &__titolo,
  &__over {
    text-align: center;
    font-size:3rem;
    font-weight: 400;
    @media only screen and (max-width: 80em) {
      font-size: 3rem;
    }
  }
}

*/
