.margin-small {
  margin-top: 2rem;
}
.margin-extra-small {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 7rem;
}

.padding {
  padding: 1rem;
}

.logo-vodafone {
  height: 3.5rem;
}

.logo-prezzogiusto {
  height: 3.1rem;
}

.background {
  padding-top: 2%;
  padding-right: 5rem;
  background-image: url("../img/bg-desk.jpeg");

  width: 100%;
  height: 65vh;

  @media only screen and (max-width: 85em) {
    //mediaquery sfondo bg
    background-image: url("../img/bg-mobile.jpeg");
  }

  @media only screen and (max-width: 75em) {
    height: 52vh;
  }
  @media only screen and (max-width: 56em) {
    height: 50vh;
  }
  @media only screen and (max-width: 37.5em) {
    height: 50vh;
  }

  @media only screen and (max-width: 27.5em) {
    height: 60vh;
  }
  @media only screen and (max-width: 20.5em) {
    height: 70vh;
  }
  @media only screen and (max-width: 17em) {
    height: 80vh;
  }
}

.header__box {
  color: white;
  padding-left: 5rem;

  &__scritta1 {
    font-size: 2.5rem;
    text-transform: uppercase;

    &__sub {
      margin-top: -1.5rem;
      font-size: 3rem;
      font-weight: 800;
    }
  }
  &__scritta2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: white;
    text-transform: none;
    &__p {
      margin-top: -2rem;
    }
  }
}
.fibra {
  height: 3rem;
}
ul {
  text-transform: uppercase;
  list-style: none;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  font-weight: 700;
}
li {
  margin-bottom: 0.8rem;
}

.checkbox {
  font-size: 1rem;
}

.offerta-soggetta {
  text-align: center;
  background-color: #f1ece8;
  margin-top: -3rem;

  &__testo {
    font-size: 1.4rem;
    color: #666;
    padding: 0.8rem;
  }
  &__icona {
    height: 1.5rem;
  }
}

.dettagli {
  padding-top: 1.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  &__over {
    color: #666;
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}

.cards {
  @media only screen and (max-width: 60em) {
    //mediaqueri cards
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }
  box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.18);
  border-radius: 5%;
  width: 29%;
  height: 26rem;
  padding: 2%;
  border: 1px solid white;
  background-color: white;

  &__icone {
    width: 8rem;
    padding: 5%;
  }

  &__titolo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
  }
  &__testo {
    font-size: 1.7rem;
  }
}

.aiuto {
  padding: 2%;
  margin-top: 2rem;
  height: auto;
  width: 100%;
  background-color: #3f0205;
  color: white;

  &__titolo,
  &__over {
    font-size: 2.08rem;
    font-weight: 800;
  }
}
#checkbox2 {
  color: #ffffff;
  text-align: left;
  margin-left: 5px;
  font-size: 1.5rem;
}

.footer {
  padding: 1.3%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #666;
}

.border {
  box-sizing: border-box;
  background-color: white;
}

//MEDIAQUERY

.mediaqueryTextCenter {
  @media only screen and (max-width: 100em) {
    text-align: center;
  }
}
.form-control {
  @media only screen and (max-width: 100em) {
    width: 100%;
    display: block;
  }
}

.mediaqueryConvertForm {
  @media only screen and (max-width: 100em) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mediaqueryConvertColumn {
  @media only screen and (max-width: 60em) {
    display: flex;
    flex-direction: column;
  }
}

.mediaquery2 {
  @media only screen and (max-width: 100em) {
    display: flex;
    flex-direction: column;
  }
}

.querycards__icone {
  @media only screen and (max-width: 100em) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
  }
}
.querycards__align {
  @media only screen and (max-width: 100em) {
    text-align: left;
    font-size: 2rem;
  }
}
